.card__header {
    background-color: #424242;
    color: whitesmoke;
    height: 50px;
    font-size: 22px;
}

.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card__info > span {
    width: 50%;
}

.card__info__value {
    text-align: start;
}
