.card {
    height: 290px;
    width: 290px;
    min-width: 290px;
}

.card__header {
    background-color: #304d8a;
    color: #ffffff;
    height: 50px;
    font-size: 22px;
    padding: 0 10px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card__icon {
    cursor: pointer;
    font-size: 20px !important;
}

.card__icon:hover {
    color: #e25141;
}

.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card__info > span {
    width: 50%;
}

.card__info__value {
    text-align: start;
}
