.App {
  font-size: 18px;
  font-family: "Roboto";
  flex-direction: column;
  padding-bottom: 30px;
}

.search-container {
  padding: 70px 10px 50px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.search-container .ui.input > input {
  width: 290px;
}

.refresh-button {
  margin-left: 20px !important;
  margin-top: 20px !important;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.cards-container > .ui.card {
  margin: 0 10px 20px 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
