.App {
  font-family: "Ubuntu Mono";
  font-size: 18px;
  flex-direction: column;
  padding-top: 100px;
}

.search-container {
  width: 100%;
}

.cards-container {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-container > .ui.card {
  margin: 0px 0px 17px 17px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
